data/pdfm_embeddings/v0/us/county_embeddings.csv
data/pdfm_embeddings/v0/us/county.geojson
data/pdfm_embeddings/v0/us/ScenarioPaint.geojson
data/pdfm_embeddings/v0/us/zcta_embeddings.csv
data/pdfm_embeddings/v0/us/zcta.geojson
data/raw/.Rhistory
data/raw/existing_lu.geojson
data/raw/ExistingPlotKPIs.json
notebooks/dc_graph.pkl
notebooks/graph_preview.html
notebooks/lib/bindings/utils.js
notebooks/lib/tom-select/tom-select.complete.min.js
notebooks/lib/tom-select/tom-select.css
notebooks/lib/vis-9.1.2/vis-network.css
notebooks/lib/vis-9.1.2/vis-network.min.js
results/anchor - backprop 2.png
results/gdf_embeddings_dc.geojson
results/anchor - backprop.png
results/KPI-AWARE embedding propagation for DC-OP placetype development.pptx
results/model_results.csv
results/kpi_embeddings_updated.csv
results/top-3 models.png
notebooks/training_GraphSAGE.ipynb